<% include ../partials/header %>

<div class="ui container">
    <form class="ui form" action="/photoblog/<%= photo._id %>?_method=PUT" method="POST">
        <div class="field">
            <p>Редактируемый фото пост:</p>
            <h1><%= photo.name %></h1>
        </div>
        <div class="field">
            <input type="text" name="photo[name]" value="<%= photo.name %>" required>
        </div>
        <div class="field">
            <input type="text" name="photo[url]" value="<%= photo.url %>" required>
        </div>
        <div class="field">
            <textarea name="photo[description]" required><%= photo.description %></textarea>
        </div>
        <div class="field">
            <button class="ui basic violet button">Изменить</button>
        </div>
    </form>
</div>

<% include ../partials/footer %>