<% include ../partials/header %>

<div class="ui container">
    <!-- Photo Blog post -->
    <div class="ui segment">
        <div class="ui stackable two column grid">
            <div class="column">
                <div class="ui image">
                    <img src="<%= photo.url %>">
                </div>
            </div>
            <div class="column">
                <h1 class="ui header"><%= photo.name %></h1>
                <h3>Автор: <%= photo.author.name %></h3>
                <% if(currentUser && photo.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <a class="ui vertical animated mini yellow button" href="/photoblog/<%= photo._id %>/edit">
                                <div class="visible content">Редактировать</div>
                                <div class="hidden content"><i class="icon edit"></i></div>
                            </a>
                        </div>
                        <div class="field">
                            <form action="/photoblog/<%= photo._id %>?_method=DELETE" method="POST"> 
                                <button class="ui vertical animated mini red button">
                                    <div class="visible content">Удалить</div>
                                    <div class="hidden content"><i class="icon trash alternate"></i></div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
                <p><%= photo.description %></p>
                <p><strong><%= moment(photo.date).locale("ru").fromNow() %></strong></p>
                <div class="backbutton">
                    <a class="ui vertical animated blue button" href="/photoblog">
                        <div class="visible content">Назад</div>
                        <div class="hidden content"><i class="icon undo"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end Photo Blog post -->
    <!-- Blog post comments -->
    <% if(currentUser){ %>
    <a class="ui vertical animated right floated green button" href="/photoblog/<%= photo._id %>/comments/new">
        <div class="visible content">Добавить комментарий</div>
        <div class="hidden content"><i class="icon edit"></i></div>
    </a>
    <% } %>
    <div class="ui hidden divider"></div>
    <div class="ui comments">
        <h3 class="ui dividing header">Комментарии</h3>
        <% photo.comments.sort(bloggApp.sortDescDate) %>
        <% photo.comments.forEach(function(comment){ %>
        <div class="comment">
            <div class="content">
                <span class="author"><%= comment.author.name %></span>
                <div class="metadata">
                    <span class="date"><%= moment(comment.date).locale("ru").fromNow() %></span>
                </div>
                <div class="text">
                    <%= comment.description %>
                </div>
                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <form action="/photoblog/<%= photo._id %>/comments/<%= comment._id %>/edit" method="GET">
                                <button class="ui vertical animated mini yellow basic button">
                                    <div class="visible content">Редактировать</div>
                                    <div class="hidden content"><i class="icon edit"></i></div>
                                </button>
                            </form>
                        </div>
                        <div class="field">
                            <form action="/photoblog/<%= photo._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="ui vertical animated mini red basic button">
                                    <div class="visible content">Удалить</div>
                                    <div class="hidden content"><i class="icon trash alternate"></i></div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
    <!-- end Blog post comments -->
</div>

<% include ../partials/footer %>