<% include ../partials/header %>

<div class="ui container">
    <!-- Photo Blog post -->
    <div class="ui placeholder segment">
        <div class="ui two column grid">
            <div class="column">
                <div class="ui image">
                    <img src="<%= photo.url %>">
                </div>
            </div>
            <div class="column">
                <h1 class="ui header"><%= photo.name %></h1>
                <h3>Автор: <%= photo.author %></h3>
                <p><%= photo.description %></p>
                <p><strong><%= moment(photo.date).locale("ru").fromNow() %></strong></p>
                <div class="backbutton">
                    <a class="ui green basic button" href="/photoblog">Назад</a>
                    <a class="ui yellow basic button" href="/photoblog/<%= photo._id %>/edit">Редактировать</a>
                    <form action="/photoblog/<%= photo._id %>?_method=DELETE" method="POST"> 
                        <button class="ui red basic button">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end Photo Blog post -->
</div>

<% include ../partials/footer %>