<% include ../partials/header %>

<div class="ui container">
    
    <div class="ui placeholder segment center aligned">
        <h1 class="ui center aligned icon header">
            <i class="blogger circular icon"></i>
            <p>Блог</p>
        </h1>
        <p>
            Рассказываю о разработке веб-приложений и различных ресурсов.<br> JavaScript, Node.JS, mongoDB, Bitrix, PHP - что под руку попадётся, о том и напишу.
        </p>
        <% if(currentUser && currentUser.username === "ikirja"){ %>
        <button class="ui green button modalbutton"><i class="icon plus circle"></i>Добавить пост</button>
        <% } %>
    </div>
    
    <!-- Blog grid -->
    <div class="ui stackable two column grid">
        <% posts.sort(bloggApp.sortDescDate) %>
        <% posts.forEach(function(post) { %>
        <div class="column">
            <a class="postlink" href="/blog/<%= post._id %>">
            <div class="ui segment">
                <h1 class="ui header"><%= post.header %></h1>
                <h3>Автор: <%= post.author.name %></h3>
                <p><%= post.description.substring(0, 200) + " ..." %></p>
                <p><strong><%= moment(post.date).locale("ru").fromNow() %></strong></p>
            </div>
            </a>
        </div>
        <% }); %>
    </div>
    <!-- end Blog grid -->
    
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <form class="ui form" action="/blog" method="POST">
        <div class="field">
            <h1>Новый пост</h1>
        </div>
        <div class="field">
            <input type="text" name="header" placeholder="Заголовок" required>
        </div>
        <div class="field">
            <textarea name="description" placeholder="Текст" required></textarea>
        </div>
        <div class="field">
            <button class="ui basic violet button">Добавить</button>
        </div>
    </form>
</div>

<% include ../partials/footer %>