<% include ../partials/header %>

<div class="ui container">
    <!-- Blog post -->
    <div class="ui placeholder segment">
        <h1 class="ui center aligned icon header"><%= post.header %></h1>
        <h3>Автор: <%= post.author %></h3>
        <p><%= post.description %></p>
        <p><strong><%= moment(post.date).locale("ru").fromNow() %></strong></p>
        <div class="backbutton">
            <a class="ui green basic button" href="/blog">Назад</a>
            <a class="ui yellow basic button" href="/blog/<%= post._id %>/edit">Редактировать</a>
            <form action="/blog/<%= post._id %>?_method=DELETE" method="POST"> 
                <button class="ui red basic button">Удалить</button>
            </form>
        </div>
    </div>
    <!-- end Blog post -->
</div>

<% include ../partials/footer %>